
header {
  display: grid;
  justify-content: center; /* Center the header-container */
  height: 50px;
  background-color: #383838;
}

.header-container {
  display: flex;
  justify-content: flex-end; /* Align the items inside to the end */
  width: 250%; /* Ensure the container spans the full width */
}


header span {
  margin: 0 10px;
  margin-top: 20px;
}

header span a {
  text-decoration: none;  /* No underline by default */
  color: white;           /* Links are always white */
  transition: text-decoration 0.3s ease-in-out;
}

header span a:hover {
  text-decoration: underline; /* Underline on hover */
}

.sub-header-container{
  background-color: white;
  height: 70px;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.7fr ;
}

.main-content{
  background-color: #F2F2F2;
  height: 100vh;
}

img {
  margin-left: 40px;
  padding: 8px;
}

.main-content { /* Assuming there's a parent element around container-auth */
  display: flex;
  justify-content: center; /* Horizontally centers */
  height: 80vh;        /* Ensures the parent takes full screen height */
}


.container-auth {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 1.8fr;
  width: 1200px;  
  height: 700px; 
  background-color: white; 
  box-shadow: #a8a8a8 0px 0px 20px;
  overflow: hidden;
}

.auth-login h1 {
  color: #00884E;
  font-weight: 400;
}


.auth-login{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 710px;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-width: 380px;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

form label, form input{
  margin: 10px 0;
}



#girl-img{
  padding: 0;
  margin: 0;
  width: 100%;   
  height: 100%;  
  object-fit: cover; 
}

#identifiant{
  height: 34px;
  border-radius: 0%;
  border: 1px solid #a8a8a8;
}

.checkbox-container input{
  transform: scale(1.5);
  border: 1px solid #a8a8a8  !important;
 
}

.checkbox-container label{
  margin-left: 18px;
  font-weight: 300;
}

#password{
  height: 34px;
  border-radius: 0%;
  border: 1px solid #a8a8a8;
}

#attention{
  font-weight: 300;
  font-size: small;
  color: #313131;
}

form button {
  background-color: #00884E;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  width: 60%;
  height: 45px;
  font-size: medium;
}

.button-container {
  display: flex;
  justify-content: center;
}

#forgot-psswd{
  color: #00884E;
  font-size: small;
  margin-top: 20px;
  text-decoration: underline;
}

footer {
  display: grid;
  justify-content: center;
  background-color: #292B2F;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer img {
  padding: 0;
  margin: 0;
}
